img#kik-logo {
  width: auto;
  max-height: 3rem;
  filter: invert(100%);
}

.navbar-item.is-active {
  color: #b1e3ff !important;
}

.carousel .title {
  display: none;
}

.card.kik .image {
  margin: auto;
  padding-top: 1rem;
}

.card.workshop {
  border-radius: 20px;
  padding: 0.8rem;
}

.card.workshop:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.card.workshop .media-content {
  font-family: "Patrick Hand", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #905EB0;
}
