{% macro render_groupsio_form(page) %}
  <nav class="level is-mobile has-background-grey-lighter">
    <div class="level-item has-text-centered">
      <div class="padded">
        <p class="heading">
          Yenilikleri haber almak isterseniz aşağıdaki formu doldurarak
          e-posta listemize üye olabilirsiniz.
        </p>
        <form class="title" action="https://groups.io/g/kendinicinkodla/signup?u=8637121172495632261" method="post" target="_blank">
          <div class="field">
            <p class="control is-expanded">
              <input type="email" name="email" value="" class="input" placeholder="{{ bag('translate', page.alt, 'my-email') }}" required>
            </p>
            <p class="control has-text-centered">
              <input type="submit" class="button is-primary" name="subscribe" value="{{ bag('translate', page.alt, 'subscribe') }}">
            </p>
          </div>
        </form>
      </div>
  </nav>
{% endmacro %}
