{% macro render_groupsio_form(page) %}
    <section class="section has-background-grey-lighter">
      <p class="has-text-centered">
        Yenilikleri haber almak isterseniz e-posta listemize üye olabilirsiniz.
      </p>
      <form action="https://kendinicinkodla.groups.io/g/bilgi/signup?u=2454984236911534640" method="post" target="_blank">
        <div class="field">
          <div class="control is-expanded">
            <input type="email" name="email" value="" class="input" placeholder="{{ bag('translate', page.alt, 'my-email') }}" required>
          </div>
        </div>
        <div class="field">
          <div class="control has-text-centered">
            <input type="submit" class="button is-primary" name="subscribe" value="{{ bag('translate', page.alt, 'subscribe') }}">
          </div>
        </div>
      </form>
    </section>
{% endmacro %}
