{% macro render_material_list(material, alt) %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="{{ ('/static/workshops/' + material._slug + '.svg')|url }}" alt="{{ material.title }}">
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <h2 class="subtitle"><a href="{{ material|url }}">{{ material.title }}</a></h2>
            <div>
              {% for author in material.authors %}
              <strong>{{ author }}</strong>{% if not loop.last %},{% endif %}
              {% endfor %}
              <br>
              {{ material.summary }}
            </div>
          </div>
        </div>
      </article>
    </div>
{% endmacro %}
