{% macro render_material_list(material, alt) %}
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <figure class="image is-128x128">
        <img src="{{ ('/static/workshops/' + material._slug + '.svg')|url }}" alt="{{ material.title }}">
      </figure>
    </div>

    <div class="level-item">
      <div class="content">
        <h2 class="subtitle"><a href="{{ material|url }}">{{ material.title }}</a></h2>
        <div>
          {% for author in material.authors %}
          {%   set person = site.query('/hakkimizda').filter(F._slug==author).first() %}
          <strong>{% if person %}{{ person.name }}{% else %}{{ author }}{% endif %}</strong>{% if not loop.last %},{% endif %}
          {% endfor %}
          <br>
          {{ material.summary }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
