{% macro render_workshop_card(workshop, alt) %}
<div id="{{ workshop._slug }}" class="card workshop">
  <header class="card-header">
    <p class="card-header-title">
      <a href="{{ workshop|url }}">
      {{ workshop.title }}
      </a>
    </p> 
  </header>
  <div class="card-content">
    {{ workshop.summary }}
  </div>
</div>

<div id="modal-{{ workshop._slug }}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <h1 class="title">{{ workshop.title }}</h1>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endmacro %}
