img#kik-logo {
  filter: invert(100%);
}

.navbar .icon {
  margin-right: 0.25rem;
}

.footer svg {
  filter: invert(100%);
}

.footer strong {
  color: darken($white, 20%);
}

.content p:not(:last-child) {
  margin-bottom: 1rem;
}
