img#kik-logo {
  filter: invert(100%);
}

.is-fullwidth {
  width: 100%;
}

.navbar .icon {
  margin-right: 0.25rem;
}

.footer svg {
  filter: invert(100%);
}

.footer strong {
  color: darken($white, 20%);
}

.content p:not(:last-child) {
  margin-bottom: 1rem;
}

.content article header h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.content .box h3 {
  font-weight: normal;
  font-size: 1.2em;
}

.content article time {
  font-size: 0.9em;
}

.level-item .subtitle {
  font-size: 1.5em;
}

.level-item .image {
  margin-right: 1rem;
}

.card-image {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.card.workshop:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.card.workshop h4 {
  text-transform: uppercase;
  color: $lilac;
}

.related {
  position: relative;
  border: 2px solid #bbbbbb;
  margin-top: 2em;
  padding: 0.8em;
}

.related h3 {
  position: absolute;
  top: 0;
  font-size: 1em;
  font-weight: normal;
  margin-top: -0.6em;
  background: #ffffff;
  padding: 0 0.5em 0 0.5em;
}

#lektor-edit-link {
  display: none;
}
