@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand:400,700');

$family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
$family-title: "Patrick Hand", $family-sans-serif;
$weight-bold: 700;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 13%);
$blue-light: hsl(200, 100%, 85%);

$title-family: $family-title;
$title-size: 2.5rem;
$subtitle-family: $title-family;
$subtitle-size: 1.75rem;
$subtitle-weight: $weight-bold;

$navbar-background-color: $black;
$navbar-item-color: $white;
$navbar-item-active-color: $blue-light;
$navbar-item-hover-color: $navbar-item-active-color;
$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: 3rem;

$footer-background-color: $black;
$footer-color: $white;
$footer-padding: 2rem;
