{% extends "layout.html" %}

{% block body %}
{% from "macros/person.html" import render_person_card %}

<div class="container">

<section class="section">
  {{ this.body }}
</section>

<section class="section">
  <h1 class="subtitle">Çalışanlar</h1>
  {% for row in this.children|batch(3) %}
  <div class="columns">
    {% for contributor in row %}
    <div class="column is-one-third">
      {{ render_person_card(contributor, this.alt) }}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</section>

</div>
{% endblock %}
