{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h2 class="subtitle">{{ this.title }}</h2>
          {{ this.body }}
          <div class="box">
            <form action="https://groups.io/g/kendinicinkodla/signup?u=8637121172495632261" method="post" target="_blank">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input type="email" name="email" value="" class="input" placeholder="{{ bag('translate', this.alt, 'my-email') }}" required>
                </p>
                <p class="control">
                  <input type="submit" class="button is-primary" name="subscribe" value="{{ bag('translate', this.alt, 'notify-me') }}">
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
