{% extends "layout.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ '/static/css/bulma-carousel.min.css'|asseturl }}">
  <script src="{{ '/static/js/bulma-carousel.min.js'|asseturl }}" defer></script>
  <script src="{{ '/static/js/kik-carousel.js'|asseturl }}" defer></script>
  <script src="{{ '/static/js/bulma-modal.js'|asseturl }}" defer></script>
{% endblock %}

{% block body %}
    {% from "macros/banner.html" import render_banner %}
    <section class="hero">
      <div class="carousel carousel-animated carousel-animate-slide">
        <div class="carousel-container">
          {% for banner in bag('banner.banners') %}
            {{ render_banner(banner, this.alt) }}
          {% endfor %}
        </div>
        <div class="carousel-navigation">
          <div class="carousel-nav-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div class="carousel-nav-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </section>

    {% set newsitems = site.query('/haberler').filter((F._model == 'newsitem').and(F.status != 'expired')).order_by('-date').limit(3) %}
    {% if newsitems.count() > 0 %}
    <section class="section container">
      <h2 class="subtitle">{{ bag('translate', this.alt, 'news') }}</h2>
      {% for newsitem in newsitems %}
      <p><a href="{{ newsitem.path }}">{{ newsitem.title }}</a><br/><small><time datetime="newsitem.date">{{ newsitem.date|dateformat('long') }}</time></small></p>
      {% endfor %}
      <p class="is-pulled-right"><a href="{{ '/haberler'|url }}">Tüm haberler</a></p>
    </section>
    {% endif %}

    {% set workshops = site.query('/atolyeler').filter((F._model == 'workshop').and(F.status != 'passed')).order_by('date').limit(3) %}
    {% if workshops.count() > 0 %}
    {%   from "macros/workshop.html" import render_workshop_card, render_workshop_modal %}
    <section class="section container">
      <h2 class="subtitle">{{ bag('translate', this.alt, 'future-workshops') }}</h2>
      <div class="columns">
        {% for workshop in workshops %}
        <div class="column">
          {{ render_workshop_card(workshop, this.alt) }}
          {{ render_workshop_modal(workshop, this.alt) }}
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}

    {% if this.alt in ['tr'] %}
    {%   from "macros/groupsio.html" import render_groupsio_form %}
    {{   render_groupsio_form(this) }}
    {% endif %}
{% endblock %}
