<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} — kendin için kodla</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
  <header role="banner">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item{% if this._path == '/' %} has-text-primary{% endif
          %}" href="{{ '/'|url }}">kendin için kodla</a>
        {% for path, label in bag('main-nav').items() %}
          <a class="navbar-item{% if this.is_child_of(path) %} class="has-text-primary"{% endif
        %}" href="{{ path|url }}">{{ bag('translate', this.alt, label) }}</a></a>
        {% endfor %}
        <span class="navbar-item is-size-7">
          <a href="/">türkçe</a> &nbsp; | &nbsp; <a href="/en/">english</a>
        </span>
      </div>
    </nav>
  <header>
  <main role="main">
    <section class="section">
      <div class="content">
        {% block body %}{% endblock %}
      </div>
    </section>
  </main>
  <footer class="footer" role="contentinfo">
    <div class="content has-text-centered">
      <small>
        <strong>kendin için kodla</strong> site içeriği telif hakkı: &copy; Ayşe Tosun</a>, <time>2018</time>. <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> lisansına tabidir.
      </small>
    </div>
  </footer>
</body>
</html>
