<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>{% block title %}{% endblock %} — kendin için kodla</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/pulse/bulmaswatch.min.css">
  <link rel="stylesheet" href="{{ '/static/kendinicinkodla.css'|url }}">

  <script src="{{ '/static/bulma.js'|url }}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
</head>

<body>

  <header role="banner">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item{% if this._path == '/' %} is-active{% endif
          %}" href="{{ '/'|url }}">kendin için kodla</a>
        <span role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </span>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          {% for path, (label, icon) in bag('main-nav').items() %}
          <span class="navbar-item">
            <a class="button is-grey is-outlined{% if this.is_child_of(path) %} is-active{% endif
              %}" href="{{ path|url }}">
              <span class="icon">
                <i class="{{ icon }}"></i>
              </span>
              <span>{{ bag('translate', this.alt, label) }}</span>
            </a>
          </span>
          {% endfor %}
        </div>
      </div>
    </nav>

    <div class="field is-grouped">
      <a class="button is-primary is-inverted is-small" href="{{ '.'|url(alt='tr') }}">türkçe</a>
      <a class="button is-primary is-inverted is-small" href="{{ '.'|url(alt='en') }}">english</a>
    </div>
  </header>

  <main role="main">
    <section class="section">
      <div class="content">
        {% block body %}{% endblock %}
      </div>
    </section>
  </main>

  <footer class="footer" role="contentinfo">
    <div class="content has-text-centered">
      <small>
        <strong>kendin için kodla</strong> site içeriği telif hakkı: &copy; Ayşe Tosun</a>, <time>2018</time>. <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> lisansına tabidir.
      </small>
    </div>
  </footer>

</body>

</html>
