{% extends "layout.html" %}

{% block body %}
<div class="container">
  <section class="section">
    <h1 class="title">{{ bag('translate', this.alt, 'news') }}</h1>

    <div class="content">
      {% for newsitem in this.children.order_by('-date') %}
      <div class="box">
        <article>
          <header>
            <h2>{{ newsitem.title }}</h2>
            <time datetime="{{ newsitem.date }}">{{ newsitem.date|dateformat('long')}}</time>
          </header>
          <h3>{{ newsitem.lead_in }}</h3>
          {{ newsitem.body }}
        </article>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
