{% extends "layout.html" %}

{% block body %}
    <section class="section container">
      <h2 class="subtitle">{{ bag('translate', this.alt, 'news') }}</h2>

      {{ this.body }}

      <dl>
      {% for newsitem in this.children.order_by('-date') %}
        <dt>{{ newsitem.title }}<br/><small><time datetime="newsitem.date">{{ newsitem.date|dateformat('long') }}</time></small></dt>
        <dd>
          {{ newsitem.lead_in }}<br>
          <a href="{{ newsitem.path}}">{{ bag('translate', this.alt, 'read-more') }}</a>
        </dd>
        <hr>
      {% endfor %}
      </dl>
  </section>
{% endblock %}
