{% extends "layout.html" %}

{% block title %}{{ this.name }}{% endblock %}

{% block body %}
<div class="container">
  <section class="section">
    <h2 class="subtitle">{{ this.name }}</h2>
  </section>

  {% set authored = site.query('/kutuphane').filter(F.authors.contains(this._slug)) %}
  {% if authored %}
  <section class="section">
    <h3 class="subtitle">{{ bag('translate', this.alt, 'authored') }}</h3>

    {% from "macros/material.html" import render_material_list %}
    {% for material in authored %}
      {{ render_material_list(material, this.alt) }}
    {% endfor %}
  </section>
  {% endif %}

  {% set instructed = site.query('/atolyeler').filter(F.instructors.contains(this._slug)).order_by('date') %}
  {% if instructed %}
  <section class="section">
    <h3 class="subtitle">{{ bag('translate', this.alt, 'instructed') }}</h3>

    {% from "macros/workshop.html" import render_workshop_list %}
    {% for workshop in instructed %}
      {{ render_workshop_list(workshop, this.alt) }}
    {% endfor %}
  </section>
  {% endif %}
</div>
{% endblock %}
