{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="container">
    <section class="section">
      <h2 class="subtitle">{{ this.title }}</h2>

      {{ this.body }}

      {% from "macros/workshop.html" import render_workshop_card %}
      {% for workshop in this.children %}
        {{ render_workshop_card(workshop, this.alt) }}
      {% endfor %}

      <script src="{{ '/static/modal.js'|url }}"></script>
    </section>
  </div>
{% endblock %}
