{% extends "layout.html" %}

{% block body %}
{{ this.body }}

{% from "macros/workshop.html" import render_workshop_list %}

<div class="container">
  {% set future_workshops = this.children.filter(F.status != 'passed').order_by('date') %}
  {% if future_workshops.count() > 0 %}
  <section class="section">
    <h2 class="subtitle">{{ bag('translate', this.alt, 'future-workshops') }}</h2>
    {% for workshop in future_workshops %}
      {{ render_workshop_list(workshop, this.alt) }}
    {% endfor %}
  </section>
  {% endif %}

  {% set passed_workshops = this.children.filter(F.status == 'passed').order_by('-date') %}
  {% if passed_workshops.count() > 0 %}
  <section class="section">
    <h2 class="subtitle">{{ bag('translate', this.alt, 'passed-workshops') }}</h2>
    {% for workshop in passed_workshops %}
      {{ render_workshop_list(workshop, this.alt) }}
    {% endfor %}
  </section>
  {% endif %}
</div>
{% endblock %}
