.navbar-item img {
  max-height: 3rem;
}

.hero {
  display: block;
}

.hero figure {
  margin: 0;
}

.hero-body .container {
  width: 20rem;
  margin: auto;
}

.footer {
  padding: 2rem;
}

#lektor-edit-link {
  display: none;
}
